In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [8]:

citibike_201701 = pd.read_csv("raw/JC-201701-citibike-tripdata.csv")
citibike_201702 = pd.read_csv("raw/JC-201702-citibike-tripdata.csv")
citibike_201703 = pd.read_csv("raw/JC-201703-citibike-tripdata.csv")
citibike_201704 = pd.read_csv("raw/JC-201704-citibike-tripdata.csv")
citibike_201705 = pd.read_csv("raw/JC-201705-citibike-tripdata.csv")
citibike_201706 = pd.read_csv("raw/JC-201706-citibike-tripdata.csv")
citibike_201707 = pd.read_csv("raw/JC-201707-citibike-tripdata.csv")

citibike_2017 = pd.concat([citibike_201701, citibike_201702,citibike_201703,citibike_201704,citibike_201705,citibike_201706,citibike_201707], ignore_index = True)


citibike_2017.tail()
citibike_2017.count()

Trip Duration              151938
Start Time                 151938
Stop Time                  151938
Start Station ID           151938
Start Station Name         151938
Start Station Latitude     151938
Start Station Longitude    151938
End Station ID             151938
End Station Name           151938
End Station Latitude       151938
End Station Longitude      151938
Bike ID                    151938
User Type                  151821
Birth Year                 140831
Gender                     151938
dtype: int64

In [3]:

citibike_201801 = pd.read_csv("raw/JC-201801-citibike-tripdata.csv")
citibike_201802 = pd.read_csv("raw/JC-201802-citibike-tripdata.csv")
citibike_201803 = pd.read_csv("raw/JC-201803-citibike-tripdata.csv")
citibike_201804 = pd.read_csv("raw/JC-201804-citibike-tripdata.csv")
citibike_201805 = pd.read_csv("raw/JC-201805-citibike-tripdata.csv")
citibike_201806 = pd.read_csv("raw/JC-201806-citibike-tripdata.csv")
citibike_201807 = pd.read_csv("raw/JC-201807-citibike-tripdata.csv")

citibike_2018 = pd.concat([citibike_201801, citibike_201802,citibike_201803,citibike_201804,citibike_201805,citibike_201806,citibike_201807], ignore_index = True)

citibike_2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [4]:
citibike_2018.rename(columns={"tripduration": "Trip Duration", 
                                         "starttime": "Start Time", 
                                         "stoptime": "Stop Time",
                                         "start station id": "Start Station ID",
                                         "start station name": "Start Station Name",
                                         "start station latitude": "Start Station Latitude",
                                         "start station longitude": "Start Station Longitude",
                                         "end station id": "End Station ID",
                                         "end station name": "End Station Name",
                                         "end station latitude": "End Station Latitude",
                                         "end station longitude": "End Station Longitude",
                                         "bikeid": "Bike ID",
                                         "usertype": "User Type",
                                         "birth year": "Birth Year",
                                         "gender": "Gender"}, inplace=True)

citibike_2018.count()

Trip Duration              186185
Start Time                 186185
Stop Time                  186185
Start Station ID           186185
Start Station Name         186185
Start Station Latitude     186185
Start Station Longitude    186185
End Station ID             186185
End Station Name           186185
End Station Latitude       186185
End Station Longitude      186185
Bike ID                    186185
User Type                  186185
Birth Year                 186185
Gender                     186185
dtype: int64

In [5]:
citibike_data=pd.concat([citibike_2017,citibike_2018], ignore_index = True)
citibike_data.to_csv("clean/citibike_data.csv")

In [6]:
citibike_2017.to_csv("clean/citibike_2017_1-7.csv")

In [7]:
citibike_2018.to_csv("clean/citibike_2018_1-7.csv")