In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:

citibike_201701 = pd.read_csv("raw/JC-201701-citibike-tripdata.csv")
citibike_201702 = pd.read_csv("raw/JC-201702-citibike-tripdata.csv")
citibike_201703 = pd.read_csv("raw/JC-201703-citibike-tripdata.csv")
citibike_201704 = pd.read_csv("raw/JC-201704-citibike-tripdata.csv")
citibike_201705 = pd.read_csv("raw/JC-201705-citibike-tripdata.csv")
citibike_201706 = pd.read_csv("raw/JC-201706-citibike-tripdata.csv")
citibike_201707 = pd.read_csv("raw/JC-201707-citibike-tripdata.csv")

citibike_2017 = pd.concat([citibike_201701, citibike_201702,citibike_201703,citibike_201704,citibike_201705,citibike_201706,citibike_201707], ignore_index = True)

citibike_2017.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [3]:

citibike_201801 = pd.read_csv("raw/JC-201801-citibike-tripdata.csv")
citibike_201802 = pd.read_csv("raw/JC-201802-citibike-tripdata.csv")
citibike_201803 = pd.read_csv("raw/JC-201803-citibike-tripdata.csv")
citibike_201804 = pd.read_csv("raw/JC-201804-citibike-tripdata.csv")
citibike_201805 = pd.read_csv("raw/JC-201805-citibike-tripdata.csv")
citibike_201806 = pd.read_csv("raw/JC-201806-citibike-tripdata.csv")
citibike_201807 = pd.read_csv("raw/JC-201807-citibike-tripdata.csv")

citibike_2018 = pd.concat([citibike_201801, citibike_201802,citibike_201803,citibike_201804,citibike_201805,citibike_201806,citibike_201807], ignore_index = True)

citibike_2018.head()

citibike_2018.count()

tripduration               186185
starttime                  186185
stoptime                   186185
start station id           186185
start station name         186185
start station latitude     186185
start station longitude    186185
end station id             186185
end station name           186185
end station latitude       186185
end station longitude      186185
bikeid                     186185
usertype                   186185
birth year                 186185
gender                     186185
dtype: int64

In [4]:
citibike_2017.to_csv("clean/citibike_2017_1-7.csv")

In [ ]:
citibike_2018.to_csv("clean/citibike_2018_1-7.csv")